<footer class="footer">
  <small>
    <a href="https://electronote.net">ElectroNote</a>
    by <a href="https://github.com/shu-illy">S.Iriyama</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
